VITE_FIREBASE_API_KEY=AIzaSyCenhSR_IjwzI0JOwpV4RIAJCw6vedOHl4
VITE_FIREBASE_AUTH_DOMAIN=voting-app-36cd8.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=voting-app-36cd8
VITE_FIREBASE_STORAGE_BUCKET=voting-app-36cd8.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=269603571011
VITE_FIREBASE_APP_ID=1:269603571011:web:f97154d9208281b5869bf6
VITE_FIREBASE_MEASUREMENT_ID=G-00WS601RQM
VITE_FIREBASE_FUNCTIONS_REGION=us-central1
