rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() &&
        request.auth.token.admin == true;
    }

    match /elections/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /panels/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /candidates/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
